@{
    ViewData["Title"] = "Log In";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using SonOfCod.ViewModels

@model LoginViewModel

<h2>Admin Login</h2>
<hr />
@using (Html.BeginForm())
{
    <div class="form-group">
        
        @Html.TextBoxFor(m => m.Email, new { @class = "form-control", @placeholder = "Email"})
    </div>

    <div class="form-group">
        @Html.PasswordFor(m => m.Password, new { @class = "form-control", @placeholder = "Password" })
    </div>

    <input type="submit" value="Log in" class="btn btn-default" />
}